<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
    <title>Happy Kidz</title>
</head>

<%- include partials/navbar %>

    <div class="container" id="top-section">

        <section title="hero" id="landing-hero">
            <div class="row">
                <h1 class="text-center font-weight-bold" id="greeting-title">
                    <strong>Καλωσήρθατε στη σελίδα των Happy Kidz!</strong>
                    </p>
            </div>
            <div class="row">
                <h4 class="text-center" id="greeting-subtitle">
                    <em>Δραστηριότητες για τα παιδιά σας, με τις καλύτερες τιμές της αγοράς</em>
                </h4>
            </div>
        </section>

        <section title="event-search" id="section-event-search">
            <form action="/search" method="GET">
                <div class="form-group">
                    <div class="col-sm-5">
                        <input type="text" class="form-control search-form" id="event-name" name="q" placeholder="Δραστηριότητα">
                    </div>
                    <div class="col-sm-2">
                        <p class="text-center" id="event-search-divider">
                            <strong>@</strong>
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control search-form" id="event-place" placeholder="Τοποθεσία">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-default" id="event-search-submit" name="location">Αναζήτηση</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <img src="/images/landing-hero.png" id="landing-banner" class="img-responsive center-block">
            </div>
        </section>


    </div>


</body>

</html>