<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>HappyKidz - Συνδρομή</title>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
	 crossorigin="anonymous"></script>

	<!-- Latest compiled and minified CSS -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	 crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

	<link rel="stylesheet" href="/stylesheets/styles_membership.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">

	<script src="https://use.fontawesome.com/899071ec86.js"></script>


</head>

<%- include partials/navbar.ejs %>

<!-- 	<body>
 -->		<div class="container">
			<div class="panel panel-primary" id="panelo">
				<div class="panel-heading">Πληροφορίες και Επιλογές Συνδρομής</div>
				<div class="panel-body"><p> Η πλατφόρμα μας σας δίνει τη δυνατότητα να αγοράζετε εισιτήρια σε προνομιακές τιμές, απολαμβάνοντας εκπτώσεις σε όλες τις δραστηριότητες. Για να επωφελειθείτε από τις προσφορές μας, μπορείτε να αγοράσετε μια συνδρομή, η οποία σας επιτρέπει να αγοράζετε εισιτήρια σε μειωμένες τιμές, ένώ ταυτόχρονα θα συσσωρεύετε πόντους για επιπλέον προνόμια. Οι εκπτώσεις σε όλες τις δραστηριότητες έχουν κατώτερο όριο το 5% και μπορεί να διαφέρουν ανάλογα με τη δραστηριότητα. Σας παρέχουμε 3 μοναδικές επιλογές συνδρομής, ώστε να επιλέξετε αυτή που ταιριάζει καλύτερα στις άνάγκες σας.</p>
				<p>Κάθε φορά που αγοράζετε ένα εισιτήριο, προστίθενται πόντοι στο ηλεκτρονικό σας πορτοφόλι. Συγκεκριμένα, για αγορές έως και 10 ευρώ κερδίζετε 5 πόντους, για αγορές 10-20 ευρώ κερδίζετε 10 πόντους, ενώ για αγορές άνω των 20 ευρώ κερδίζετε 15 πόντους. Με τη συγκέντρωση αρκετών πόντων μπορείτε να εξασφαλίσετε έκπτωση στης έπόμενη αγορά συνδρομής που θα κάνετε. Ειδικότερα, αν έχετε 100-200 πόντους σας προσφέρουμε 30% έκπτωση στην ανανέωση της συνδρομής, ενώ για παραπάνω από 200 πόντους δικαιούστε 40 % έκπτωση στην ανανέωση της συνδρομής σας.</p></div>
			</div>


			<div id="pricing-table" class="clear align-items-center row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="plan">
						<h3>Silver Card
							<span>15€</span>
						</h3>
						<form action="/payment/membership/1" method="POST">
							<button name="plan" value="50" class="signup">Αγορά</button>
						</form>
						<ul>
							<li>
								<b>3 μήνες</b> διάρκεια</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="plan">
						<h3>Gold Card
							<span>25€</span>
						</h3>
						<form action="/payment/membership/2" method="POST">
							<button name="plan" value="100" class="signup">Αγορά</button>
						</form>
						<ul>
							<li>
								<b>6 μήνες</b> Διάρκεια</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="plan">
						<h3>Platinum Card
							<span>40€</span>
						</h3>
						<form action="/payment/membership/3" method="POST">
							<button name="plan" value="200" class="signup">Αγορά</button>
						</form>
						<ul>
							<li>
								<b>1 χρόνος</b> διάρκεια</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>