<!DOCTYPE html>
<html>
<title>HappyKidz - Register Page</title>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
crossorigin="anonymous"></script>
<!-- Latest compiled and minified CSS -->

<script src="https://use.fontawesome.com/899071ec86.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
crossorigin="anonymous"></script>
<link rel="stylesheet" href="/stylesheets/styles_register.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">

<%- include partials/navbar.ejs %>



<body>
  <img id="joinUsLogo" src="/joinlogo2.png" alt="join_logo"> 
  <div class="container well">
    <div class="row">
      <div class="tab" role="tabpanel">
        <!-- Nav tabs -->                          
        <ul class="nav nav-tabs " role="tablist">
          <li role="presentation" class="active" id="personal-tab" ><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab"><span><i class="fa fa-user"></i></span>Προσωπικός Λογαριασμός</a></li>
          <li role="presentation" id="business-tab"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab"><span><i class="fa fa-briefcase"></i></span>Επιχειρισιακός Λογαριασμός</a></li>
        </ul>                     
        <!-- Tab panes -->
        <div class="tab-content tabs">
          <div role="tabpanel" class="tab-pane fade in active" id="Section1">                                    
            <div class="col-lg-12 my-form-personal">
              <div class="row">
                <form id="personal-account-form" action="/register/user" method="post">
                  <div class="col-sm-12 ">
                    
                    <div class="row">
                      <div class="col-sm-6 form-group">
                        <label>Όνομα</label>
                        <input type="text" name="firstName" placeholder="Όνομα" class="form-control" required>
                      </div>
                      <div class="col-sm-6 form-group">
                        <label>Επώνυμο</label>
                        <input type="text" name="lastName" placeholder="Επώνυμο" class="form-control" required>
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label>Διεύθυνση ηλεκτρονικού ταχυδρομίου</label>
                      <input type="text" id="email" name="email" placeholder="Διεύθυνση ηλεκτρονικού ταχυδρομίου" class="form-control" required>
                    </div>     
                    <div class="form-group">
                      <label class="password">Κωδικός</label>
                      <input type="password" id="password" name="password" placeholder="Κωδικός" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label class="password">Επανάληψη Κωδικού</label>
                      <input type="password" id="passwordAgain" name="passwordAgain" placeholder="Κωδικός" class="form-control" required>
                    </div>                                    
                    <p class =terms>Πατώντας το πλήκτρο υποβολής, συμφωνείτε με τους όρους και την πολιτική δεδομένων μας. </p>
                    <div class="text-center"> 
                      <button id="submitButton" type="submit" class="btn btn-lg btn-info">Υποβολή <span><i class="fa fa-smile-o"></i></span></button>  
                    </div>               
                  </div>
                </form> 
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="Section2">                                  
            <div class="col-lg-12 my-form-business">                   
              <div class="row">
                <form id="business-account-form" action="/register/provider" method="post">
                  <div class="col-sm-12 ">
                    <!-- <div class="form-group">
                      <label>Επίσημο Όνομα Επιχείρησης</label>
                      <input type="text" id="legalBusinessName" name="legalBusinessName" placeholder="Επίσημο Όνομα Επιχείρησης" class="form-control" required>
                    </div> -->
                    <div class="form-group">
                      <label>Διεύθυνση ηλεκτρονικού ταχυδρομίου Επιχείρησης</label>
                      <input type="text" id="businessemail" name="email" placeholder="Διεύθυνση ηλεκτρονικού ταχυδρομίου Επιχείρησης" class="form-control" required>
                    </div>
                    
                    <div class="form-group">
                      <label>Τηλέφωνο Επιχείρησης</label>
                      <input type="text" id="legalBusinessPhone" name="legalBusinessPhone" placeholder="Επίσημο τηλέφωνο Επιχείρησης" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label>Όνομα Επιχείρησης</label>
                      <input type="text" id="businessName" name="businessName" placeholder="Όνομα Επιχείρησης" class="form-control" required>
                    </div>  
                    <div class="form-group">
                      <label>Ίστότοπος Επιχείρησης</label>
                      <input type="text" id="businessSite" name="businessSite" placeholder="Ιστότοπος Επιχείρησης" class="form-control" required>
                    </div>
                    
                    <div class="form-group">
                      <label class="password">Κωδικός</label>
                      <input type="password" id="businesspassword" name="password" placeholder="Κωδικός" class="form-control" required  >
                    </div>
                    <div class="form-group">
                      <label class="password">Επανάληψη Κωδικού</label>
                      <input type="password" id="businesspasswordAgain" name="passwordAgain" placeholder="Κωδικός" class="form-control" required>
                    </div>      

                    <p class =terms>Πατώντας το πλήκτρο υποβολής, συμφωνείτε με τους όρους και την πολιτική δεδομένων μας. </p>
                    
                    <div class="text-center"> 
                      <button id="submitButton" type="submit" class="btn btn-lg btn-info">Υποβολή <span><i class="fa fa-smile-o"></i></span></button>  
                    </div>
                    
                    
                  </div>
                </form> 
              </div>
            </div>                               
          </div>
        </div>
      </div>
    </div>
  </div>               

</body>


<script>
  
  $( window ).resize(function() {
    if($(window).width() < 992){ 
      $("#personal-tab").addClass("asd")
      $("#business-tab").addClass("asd")
      }
      else{
        $("#personal-tab").removeClass("asd")
        $("#business-tab").removeClass("asd")
}
});
  if($(window).width() < 992){
    $("#personal-tab").addClass("asd")
    $("#business-tab").addClass("asd")
      }
      else{
        $("#personal-tab").removeClass("asd")
        $("#business-tab").removeClass("asd")
      }


//Script for handling errors from validation step in backend
$( document ).ready(function() {

 var errorList = <%-JSON.stringify(errors)%>;
 var whichTab = <%-JSON.stringify(tab)%>;
 var actualId = "";
 if(whichTab === "providerTab") {
  $("#Section1").removeClass("active")
  $("#Section1").removeClass("in")
  $("#personal-tab").removeClass("active")
  $("#Section2").addClass("in")
  $("#Section2").addClass("active")
  $("#business-tab").addClass("active") 
  errorList.forEach(function(myError){ 
    actualId = "business" + myError.param; 
    $('#' + actualId).addClass("error-input")
    $('#' + actualId).attr("placeholder", myError.msg) 
  });
 }
 else if(whichTab === "userTab"){
  errorList.forEach(function(myError){ 
  $('#' + myError.param).addClass("error-input")
  $('#' + myError.param).attr("placeholder", myError.msg) 
    });
 }

 
 
 
});




</script>


</html>