
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/899071ec86.js"></script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
    <title>Happy Kidz</title>
</head>
<%- include partials/navbar.ejs %>

    <p style="text-align:center;">
        <img src="/success_image.png" height="342">
    </p>

    <p style="text-align:center;">
        <em>Η αλλαγή του κωδικού σας πραγματοποιήθηκε με επιτυχία. Σας έχει αποσταλεί ένα mail με το νέο κωδικό πρόσβασης. Σας υπενθυμίζουμε ότι μπορείτε πάντα να αλλάξετε τον κωδικό σε κάποιον της προτίμησής σας από τις ρυθμίσεις του προφίλ σας</em>
    </p>
</body>
</html>