html, body {
    width: 100%;
    height: 100%;
    color: white;
}

body {
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#landing-hero {
    margin-top: 32px;
}

.btn {
    width: auto;
    border-radius: 33px;
}

.search-form {
    border-radius: 33px;
}

section .form-group{
    padding-top: 34px;
}

section .form-group input{
    height: 42px; 
}

#event-search-divider {
    font-size: 24px;
}

#landing-banner {
    width: 440px;
}

#event-search-submit {
    display: block;
    margin: 0 auto;
    padding: 8px 24px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border: 1px solid white;
}