body {
  background-color: #e6ecf0;
}

#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
  }

  #sidebar-wrapper {
    margin-left: -250px;
    top: 100px;
    left: 250px;
    width: 250px;
    background: #ffffff;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
    color:#29335c;
  }

  #wrapper.active {
    padding-left: 0;
  }

  #wrapper.active #sidebar-wrapper {
    left: 0;
  }

  #page-content-wrapper {
    width: 100%;
    padding-top: 25px;
    transition: all 0.4s ease 0s;
    color:#29335c;
  }

  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
  }

  .sidebar-nav li a {
    color: #ffffff;
    display: block;
    text-decoration: none;
    padding-left: 60px;
  }

  .sidebar-nav li a span:before {
    position: absolute;
    left: 0;
    color: #ffffff;
    text-align: center;
    width: 20px;
    line-height: 18px;
  }

  .sidebar-nav li a:hover,
  .sidebar-nav li.active {
    color: #fff;
    background: rgba(255, 255, 255, 0.808);
    text-decoration: none;
  }

  .sidebar-nav li a:active,
  .sidebar-nav li a:focus {
    text-decoration: none;
  }

  .sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
  }

  .sidebar-nav > .sidebar-brand a {
    color: #ffffff;
  }

  .sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
  }

  #menu-toggle {
      text-decoration: none;
      float: left;
      color: #fff;
      padding-right: 15px;
  }

  @media (max-width:767px) {

  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    left: 0;
  }

  #wrapper.active {
    position: relative;
    left: 250px;
  }

  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }

  #menu-toggle {
    display: inline-block;
  }

  }
  @media (max-width: 1000px) {
    .affix {
        position: static;
/*         
        width: 100%; */
    }
}



.navbar-custom {
  background-color: #2c98cf;
  border-color: #2684b4;
  }
  .navbar-custom .navbar-brand {
  color: #ffffff;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
  }
  .navbar-custom .navbar-text {
  color: #ffffff;
  }
  .navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  }
  .navbar-custom .navbar-nav > li > a:hover,
  .navbar-custom .navbar-nav > li > a:focus {
  color: #c0c0c0;
  background-color: transparent;
  }
  .navbar-custom .navbar-nav > .active > a,
  .navbar-custom .navbar-nav > .active > a:hover,
  .navbar-custom .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  background-color: #2684b4;
  }
  .navbar-custom .navbar-nav > .disabled > a,
  .navbar-custom .navbar-nav > .disabled > a:hover,
  .navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
  }
  .navbar-custom .navbar-toggle {
  border-color: #dddddd;
  }
  .navbar-custom .navbar-toggle:hover,
  .navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
  }
  .navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
  }
  .navbar-custom .navbar-collapse,
  .navbar-custom .navbar-form {
  border-color: #2682b2;
  }
  .navbar-custom .navbar-nav > .dropdown > a:hover .caret,
  .navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
  }
  .navbar-custom .navbar-nav > .open > a,
  .navbar-custom .navbar-nav > .open > a:hover,
  .navbar-custom .navbar-nav > .open > a:focus {
  background-color: #2684b4;
  color: #c0c0c0;
  }
  .navbar-custom .navbar-nav > .open > a .caret,
  .navbar-custom .navbar-nav > .open > a:hover .caret,
  .navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
  }
  .navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  }
  @media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
      color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #c0c0c0;
      background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #c0c0c0;
      background-color: #2684b4;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #cccccc;
      background-color: transparent;
  }
  }
  .navbar-custom .navbar-link {
  color: #ffffff;
  }
  .navbar-custom .navbar-link:hover {
      color: #c0c0c0;
  }

  #map {
    height: 300px;
    width: 100%;
    }

    .filter-btn{
        width: 100%;
        color: #29335c;
        /* background-color: #f6774f;   */
    
    }

    .filter-apply{
      width: 100%;
      background-color: #ffffff;
      color: #29335c;  
  
  }

    @import url('http://getbootstrap.com/dist/css/bootstrap.css');
    
    .fixed { height:100%; overflow:hidden; background:orange; }
    .scrollit { height:100%; overflow-y:scroll; background:rgb(255, 255, 255); }

    hr {
      margin: 10px;
      width: 100%;
      border-top: 0.5px solid #e0e0e0;
      border-bottom: 0.5px solid #e0e0e0;
  }

  /* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
   */

   input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}





input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: transparent;
  background-image: url(/images/navbar-logo-slider.png);
  background-position: center center;
  background-repeat: no-repeat;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: transparent;
  background-image: url(/images/navbar-logo-slider.png);
  background-position: center center;
  background-repeat: no-repeat;
}

input[type="range"]::-ms-thumbx {
  -webkit-appearance: none;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: transparent;
  background-image: url(/images/navbar-logo-slider.png);
  background-position: center center;
  background-repeat: no-repeat;
}

/* All the same stuff for IE */
/* input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  background-color: green;
} */

/* enable absolute positioning */
.inner-addon { 
  position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
position: absolute;
padding: 10px;
pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

/* .glyphicon.glyphicon-list {
  font-size: 75px;
} */